/**
 * Custom theme styles that overwrites theme 
 */
html{
    overflow-x:hidden;
}
body {
    font-family:'Open Sans', 'Trebuchet MS', Arial !important;
}
.ml-10{margin-left: 10px;}
.body_fixed{padding-top: 0px;}
.sidebar-nav {
    padding: 9px 0;
}

.navbar-brand{}
.btn-header-group{margin-right: -15px;}
li{
	list-style-type: none;
}
.resp-header-search {display: none; margin-bottom: 10px;}
.logo{padding:5px 15px;max-height: 50px;}
.logo img {max-height: 40px;}
.category_box_title{
	height: 30px;
	top: 2px;
	position: relative;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 2px 0px;
	padding: 5px 0px 0px 0px;
	background-color: #2fa3e6;
}
.custom_box {
	height: 10px;
}
.custom_box_content{
	background-color: #FFF;
    padding: 0 0 0 5px;
}
.picture img{max-width: 150px;margin-right: 10px;}
.thumbnail.highlight{
	background-color: #f5f5f5;
	padding: 13px;
}
.category_box_title a{
	color: white;
	font-size: 17px;
	margin-left: 5px;
}
.custom_box_content .nav>li>a{
	margin-left: -10px;
	margin-right: -10px;
}


.count_ads{
	float:right;
}
.nav-header a{
	text-decoration: none;
	font-size: 12px;
	position: relative;
	top: 5px;
}

.featured{
	background:#C5DBFA;
}

.advert_img {
	float: left;
	margin-right: 5px;
}
.mr-new{padding-left: 150px;}
.price{
	color: rgb(192, 79, 79);
}

.latest_ads{
    word-wrap:break-word;
}

#modal-gallery{
	
	width: 50%;
}
.header_cat_list{
	font-size: 13px;
}
.btn-header-group{padding-top: 10px;}
/*Publish new*/
.cat-selector{margin: 2px 0px 0 0;height: 30px;font-size: 14px;padding-top: 3px;background: #fff;color: inherit;border-color:#ccc;text-align: left;}
.accordion-heading .glyphicon-plus.glyphicon{float: right;font-size: 18px;}
.accordion-heading .radio{padding:0;}

/* collapsable categories selector*/
.btn.btn-primary.btn-xs.collapsed {
	display: inline-block !important;
}
.accordion-group {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.accordion-inner { border-top: none;}

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.resized {width: 205px;}
.error{color:#ff1a1a;}

.social-btn{
	margin-bottom: 10px !important;
}
/*.thumbnails{list-style: none!important;}*/

/*custom multy-level dropdown */
.dropdown-submenu{position:relative;text-align: left!important;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-inverse {background-color: #2fa3e6; border-color: #2fa3e6;}
.navbar-inverse .navbar-nav>li>a{color:#fff;}
.navbar-inverse .navbar-brand {color: #fff;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {color: #fff; background-color: #4EB7F3;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {color: #fff;background-color: #4EB7F3;}

/* collapsable categories selector*/
.collapsed {}
.accordion-body {margin-left: 15px;}

.chosen-container-single .chosen-single{
    height: 34px !important;
    border: 1px solid #ccc;
    padding: 3px 12px;
    background: #FFF;
    font-size: 14px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 5px;
}
.chosen-container-multi .chosen-choices {
    min-height: 34px !important;
    border: 1px solid #ccc;
    padding: 3px 8px 1px;
    background: #FFF;
    font-size: 14px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    min-height: 26px !important;
    color: #999999;
}
/* shade and size of slider arrows*/
.carousel-control{width: 6%;}
.carousel-control.right, .carousel-control.left{background-image: none;}
/* no different badge styles in boot3*/
.badge-success{background:none;color:#999;}
.carousel .carousel-inner .item img {
  width: 100%;
}
.container{width: 100% !important;}
.caption{word-wrap:break-word;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color: #2fa3e6;}

/*bbcode style fix*/
div.sceditor-group{padding: 1px 15px 5px 5px!important;}
.sceditor-button{padding: 0px 0px 0px 2px!important; width: 20px!important;}
.sceditor-button, .sceditor-button div{margin-top: 3px!important;}

.favorite i {font-size:20px;color:#888888;}
.favorite .remove-favorite i {color:#C9302C;}

.navbar-brand h1 {font-size: 18px;line-height:20px; margin:0;}

.min-h{min-height: 119px!important; display:block;}

.panel-home-categories {
    border: 1px solid #e3e3e3;
    background:#f8f8f8;
}
.panel-home-categories > .panel-heading {
    background-color: #2fa3e6;
    color: #FFFFFF;
    font-size: 17px;
    padding: 5px 15px;
}
.panel-home-categories > .panel-heading a {
    color: #FFFFFF;
}
.panel-home-categories > .panel-body > .list-group {
    margin-bottom: 0;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item {
    padding: 10px 1px;
    border: none;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item:first-child {
    padding-top: 0;
}
.panel-sidebar {
    border: 1px solid #e3e3e3;
}
.panel-sidebar > .panel-heading {
    padding-bottom: 0;
    border-top: 8px #2FA3E6 solid;
}
.panel-sidebar.Widget_Categories > .panel-body > ul,
.panel-sidebar.Widget_Locations > .panel-body > ul,
.panel-sidebar.Widget_Forum > .panel-body > ul,
.panel-sidebar.Widget_RSS > .panel-body > ul {
    padding-left: 0;
    margin-bottom: 0;
}
img#captcha_img_publish_new {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/*
   customização do template
*/
.fl{float:left;}
.fr{float:right;}
a{color: #555;outline:none;}

/*------reestyle bootstrap--------*/
.btn-danger,.btn-danger:visited{background:#ffb136;border-color:#ffb136;font-weight:bold;text-shadow:1px 1px 0px #e67e22;}
.btn-danger:hover,.btn-danger:active{background:#e67e22;border-color:#e67e22;}
.label-danger{background:#ffb136;}

/*---------------------
Mobile
---------------------*/
#mobile-menu-panel{width:70%;position:absolute;right:0;z-index:50;border-color:#2fa3e6;}
.form_menu_header{margin-top:8px;width:50%;}
.navbar-toggle{border-color:#fff !important;}

/*---------------------
header
---------------------*/
.logo_header{margin-left:50px;position:relative;outline:none;}
.logo_header img{position:relative;top:-2px;border:none;}


/*---------------------
sidebar
---------------------*/
.panel-sidebar > .panel-heading{border-top:4px solid #2fa3e6;padding:10px 15px;}
.style_menu{padding:0;margin:0;}
.style_menu li{float:left;width:100%;padding:0 !important;}
.style_menu a{text-decoration:none;background: #f8f8f8 none repeat scroll 0 0;border: 1px solid #f2f2f2;float: left;padding: 8px 7%;width: 100%;}
.style_menu a:hover{background:#2fa3e6;color:#fff;}
.style_menu a:hover > .badge{color:#fff;}

/*---------------------
box home
---------------------*/
.box_home{padding-top:0;}
.box_home > h3{margin-top:0;}
.box_latest_ads{position: relative;background-color: #F9F9F9;border:none;padding:0;box-shadow:0px 0px 3px #ccc;border-radius:0;}
.title_box_ads{line-height:14px;font-size:14px;color:#444 !important;width:100%;overflow:hidden !important;height:50px;}
.location_box_ads{margin:0 0 6px 6px;position:relative;bottom:8px;font-size:12px;font-weight:bold;color:#999;}
.location_box_ads > i{font-size:10px;} 
.price_box_ads{position:absolute;bottom:6px;right:-6px;z-index:25;padding:4px 6px;background:#ffb136;font-weight:bold;color:#fff;text-shadow:1px 1px 0px #e67e22;}
.price_box_ads:before{border-radius:0 0 0 5px;content:'';position:absolute;z-index:1;right:-6px;bottom:-5px;border-width:6px;border-style:solid;border-left-color:#ffb136;border-right-color:transparent;border-top-color:transparent;border-bottom-color:transparent;}
.boxs_sidebar{padding:0;}
.side_category{padding:0;padding-left:15px;}
.boxs_sidebar_right{padding-left:0;}

/*--------------------
Page list ads
---------------------*/
.options_listing{position:relative;top:30px;}
.type_view_listing{margin-right:20px;}
.mode_view_listing{cursor:pointer;font-size:20px;color:#666;margin:3px 0 0 10px;}
.mode_view_listing:hover{color:#2fa3e6;text-decoration:none;}
.paginate_listing{margin-top:20px;}

/*--------------------
footer
---------------------*/
.box_footer{height:90px;text-align:center;}


/*Media screens*/
@media screen and (max-width: 1199px) {
	.header-search{display: none;}
	/*header .container{width: 770px;}*/
}
@media screen and (max-width: 979px) {
    body { padding-top:0; }
    .navbar .nav > li { border:0; }
    .container{width: auto;}
    .resp-header-search{display: block; margin-top: 60px;}
    
}
@media only screen and (max-width: 767px) {
    /* menu */
    #mobile-menu-panel{background:#2fa3e6;}
    .form_menu_header{display:none !important;}
    .dropdown-menu{background:#fff !important;}
    .dropdown-menu a:hover{color:#999 !important;}
    .btn_navbar_mobile{width:100% !important;}
    /* phones */
    .boxs_sidebar{display:none;}
    .featured-posts{display: none;}
}

.well{
	background-color: #fff;
	border-color: #fff;
	box-shadow: 0px 0px 0px #fff;
}